body { 
	background: #653C1E url('/images/cpb_topborder.png') top center repeat-x;
	color: #643D1E;
	font: 67.5% helvetica, arial, sans-serif;
	text-align: center;
	padding: 0 0 40px; margin: 0 auto;
}

img { border:0px; }

a { color: #643D1E; font-weight:bold; }
a:hover { color:#A34800; text-decoration: underline; }

a img, .yellowborder { border: 5px solid #FFA544; }

h1, h2, h3, h4 { margin-top: 0; }
h3 { font-size: 2em; margin: 1.5em 0 .5em;}

.content_box { width: 100%; text-align: left; margin:0 auto; padding: 40px 0 0; overflow: hidden;   background: transparent url('/images/cpb_topborder.png') top center repeat-x; }
.content { max-width: 500px; margin: 0 auto; font-size: 1.2em; line-height: 1.5em; }
.content img { box-sizing: border-box; height:auto; max-width: 100%; }

.entry-title { font-size: 1.5em; margin: 0 0 5px 0; }
.see-archives { font-size: 12px; border-top: 2px solid #FFA544; margin:1em 0 2.3em; padding-top:1em; }

.recipe { background: #fcf8eb; border: 0.1em dotted #643D1E; padding: 20px; }

.supercontainer {
	margin-left: auto; margin-right: auto;
	background-color:#FDF7E1;
	border: 5px solid #FFA544;
	border-top-width: 0;
	max-width:980px;
}
.container { text-align: left; padding: 24px 45px 0; }

.masthead {
	background: transparent url(/images/masthead.png) no-repeat center center;
  background-size: 100% auto;
	display: block;
	max-width: 587px;
	height: 115px;
	margin: 0 auto;
	text-indent: -9000px;
}
.masthead h1, .masthead h4 {margin: 0; }

.nav {
	height: 30px;
	list-style:none;
	background:#653C1E;
	margin: 15px 0 0 0;
	padding: 12px 0 0 0;
	text-align: center;
}
.nav li {
	display: inline;
	font-size: 1.5em;
	color: #F3EBD6;
	margin-right: 17px;
}
.nav li:last-child { margin-right: 0; }
.nav li a, .nav li a:visited { color: #F3EBD6; text-decoration: none; }
.nav li a:hover { text-decoration:underline; }


/*---:[ footer styles ]:---*/
.footer { font: normal .9em/1.3em; margin: 40px 0; padding-bottom: 20px; text-align: center; }
