<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" type="text/css" media="all" href="/style.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="canonical" href="https://www.cpbgallery.com{{ page.url }}" />
    <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101200105);</script>
    <script async src="//static.getclicky.com/js"></script>

    <meta name="title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}">
    <meta property="og:title" content=”{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}” />
    <meta property="og:url" content=”https://www.cpbgallery.com{{ page.url }}” />
    {% if page.shortdescription %}<meta property="og:description" content=”{{ page.shortdescription }}” />{% endif %}
    {% if page.featureimage %}<meta property="og:image" content=”https://www.cpbgallery.com{{ page.featureimage }}”/>{% endif %}
    <meta property="og:type" content=”{% if page.type %}{{ page.type}}{% else %}article{% endif %}” />
  </head>
  <body>
    <div class="supercontainer">
      <div class="container">
      	<div class="masthead"><h1>the chocolate peanut butter gallery</h1><h4>a site dedicated to the world&#039;s two best ingredients</h4></div>
      	<ul class="nav">
          <li><a href="/">home</a></li>
          <li><a href="/about">about</a></li>
          <li><a href="/archives">archives</a></li>
        </ul>

        <div class="content_box">
		      <div class="content">
            {{ content }}
          </div>
        </div>

        <div class="footer">&copy; 2008&ndash;2019 the chocolate peanut butter gallery</div>
      </div>
    </div>
  </body>
</html>
