<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <title>{{ site.title }}</title>
    <link rel="stylesheet" type="text/css" media="all" href="/style.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" /> 
  </head>
  <body>
    <div id="supercontainer">
      <div id="container">
      	<div id="masthead"><h1>the chocolate peanut butter gallery</h1><h4>a site dedicated to the world&#039;s two best ingredients</h4></div>
      	<ul id="nav">
          <li><a class="current" href="/">home</a></li>
          <li><a href="about/">about</a></li>
          <li><a href="archives/">archives</a></li>
        </ul>

        <div id="content_box" class="hfeed">
		      <div id="content" class="posts">
            {{ content }}
          </div>
        </div>

        <div id="footer">&copy; 2008&ndash;2019 the chocolate peanut butter gallery</div>
      </div>
    </div>
  </body>
</html>
